@import "tailwindcss";
@plugin "daisyui" {
    themes: all;
}

html, body, #app {
    height: 100%;
    position: relative;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 250ms ease;
}

.fade-enter-from, .fade-leave-to {
    opacity: 0;
}

.fade-group-enter-active, .fade-group-leave-active {
    transition: opacity 250ms ease;
}

.fade-group-enter-from, .fade-group-leave-to {
    opacity: 0;
}

.fade-group-leave-active {
    position: absolute;
}